.XcMenuItem {
  &.MuiMenuItem-root {
    font-family: 'Satoshi';
    font-size: 14px;
    font-weight: 400;
    padding-left: 9px;
    padding-right: 9px;
    margin: 0 8px;
    
    &:hover {
      background-color: #F3F3F3; // grey10
    }

    &.Mui-selected {
      background-color: #FFF5EB;
    }
  }
}