.DropzoneBox {
  width: 100%;
  border: 2px dashed #00A3FF;
  background-color: #F5FCFF;
  border-radius: 24px;
  padding: 40px 16px;
  text-align: center;
  position: relative;
}

.RejectedDropzoneBox {
  width: 100%;
  border: 2px dashed #DB2525;
  background-color: #FFF7F7;
  border-radius: 24px;
  padding: 40px 16px;
  text-align: center;
  position: relative;
}

.DropzoneBox p {
  margin: 0;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  color: #A9A9A9;
}

.DropzoneBox p > a {
  margin: 0;
  font-size: 1rem; /* 16px */
  color: #00A3FF;
}

.DropzoneBox span {
  position: absolute;
  font-size: 0.875rem; /* 14px */
  top: -13px;
  left: 14px;
  background-color: #ffffff;
  padding: 0 4px;
}

.RejectedDropzoneBox > .errorText {
  color: #DB2525;
}

.RejectedDropzoneBox p {
  margin: 0;
  font-size: 1rem; /* 16px */
  font-weight: 500;
  color: #A9A9A9;
}

.RejectedDropzoneBox p > a {
  margin: 0;
  font-size: 1rem; /* 16px */
  color: #DB2525;
}

.RejectedDropzoneBox span {
  position: absolute;
  font-size: 0.875rem; /* 14px */
  top: -13px;
  left: 14px;
  background-color: #ffffff;
  padding: 0 4px;
}

.wrapper {
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
