$primaryColor: #D2243D;

.alice-carousel__stage-item {
  .thumb-content {
    transition: border .5s;
    border: 2px solid transparent;
  }

  &.__active {
    .thumb-content {
      border: 2px solid $primaryColor !important;
    }
  }
}
