$primaryColor: #D2243D; 

.photoWrapper {
  display: inline-block;
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.photoContent {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.photoContentCover {
  @extend .photoContent;
  background-size: cover;
}

.thumbWrapper {
  @extend .photoWrapper;
  padding-top: 100%;
}

.thumbContent {
  @extend .photoContent;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
}

.thumbContentCover {
  @extend .thumbContent;
  background-size: cover;
}

.thumbContainer {
  display: inline-block;
  width: 100px;
}

.thumbsRow {
  position: relative;
  width: 100%;

  .btnNav {
    position: absolute;
    top: 30%;
  }

  .btnPrev {
    left: 3px;
  }

  .btnNext {
    right: 3px;
  }

  .btnNone {
    display: none;
  }
}