::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #F3F3F3;
  border-radius: 0 8px 8px 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(190, 190, 190, 0.6);
  border-radius: 10px;
  border: solid 4px #F3F3F3;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(143, 143, 143, .6);
}