$errorColor: #d2243d;
$errorTextColor: #FF4842;

.formikPhoneInput {
  margin-top: 16px;

  // phone input
  .react-tel-input {
    .special-label {
      font-family: 'Times New Roman', Times, serif;
      font-size: .65rem;
      top: -10px;
      left: 10px;
    }

    input.form-control {
      width: 100%;
      border-radius: 8px;
      font-family: 'Times New Roman', Times, serif;
    }
  }

  // helper text
  .helperText {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: .75rem;
    margin: 4px 14px 0 14px;
  }

  // on error
  &.error {
    .react-tel-input {
      .special-label {
        color: $errorColor;
      }

      input.form-control {
        border: 1px solid $errorColor;
        box-shadow: 1px 1px $errorColor, -1px -1px $errorColor;

        &:focus {
          box-shadow: 1px 1px $errorColor, -1px -1px $errorColor;
        }
      }
    }

    .helperText {
      color: $errorTextColor;
    }
  }
}