.login {
  height: 100vh;
  width: 100%;
  background-color: #0f1a2a;
  background-image: url(../../../assets/svg/LoginBackground.svg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cloud {
  height: 10rem;
  width: 100%;
  margin: 0 auto;
  background-image: url('../../../assets/svg/Cloud.svg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.jupiter {
  position: absolute;
  right: 10%;
  bottom: 50%;
}

.saturn {
  position: absolute;
  left: 10%;
  bottom: 30%;
}

.outterOrbit,
.middleOrbit,
.innerOrbit {
  position: absolute;
  bottom: 0;
}

/* ------------------------------------------------------------ */

.container {
  padding: 0 3.75rem;
  height: 40.125rem;
  width: 35rem;
  border-top: 1.125rem solid #ff9d42;
  border-radius: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 0px 3px rgba(38, 38, 38, 0.1), 0px 4px 20px rgba(38, 38, 38, 0.15);
  position: relative;
  z-index: 2;
}

.head,
.loginForm {
  width: 100%;
}

.logo {
  margin: 2rem auto;
}

.loginForm {
  margin: 2rem auto;
}

.astronaut {
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: 1;
}
