.text-editor-wrap {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}
.text-editor-wrap.border-error {
  border: 1px solid #f44336;
}
.text-editor-wrap .ql-editor {
  min-height: 15em;
  padding: 5px;
  margin-top: 24px;
}
.text-editor-wrap .ql-container.ql-snow {
  border: 0;
}
.text-editor-wrap .ql-toolbar.ql-snow {
  border: 0;
  margin-top: 5px;
}
.text-editor-wrap .label-text {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 14.22px !important;
  color: rgb(139, 137, 137);
  background-color: #fff;
  padding: 0 4px;
}
.text-editor-wrap .label-text.text-error {
  color: #f44336;
}
.helper-text {
  margin-left: 15px;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 8px;
  min-height: 1em;
  font-family: 'Be Vietnam', sans-serif;
  line-height: 1em;
}

.helper-text.helper-text-error {
  color: #f44336;
}
